import os

from efunds.settings import BASE_DIR

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(BASE_DIR, 'db.sqlite3'),
    }
}

ALLOWED_HOSTS = ['*']

TIME_ZONE = 'Asia/Shanghai'

DEBUG = False

APPEND_SLASH = False

STATIC_ROOT = os.path.join(BASE_DIR, 'static')

ROOT_URLCONF = 'efunds.path'

STATIC_URL = '/asd/static/'


